include _report_range_dropdown_menu.pug

mixin language(lang, text)
    a.dropdown-item(href='javascript:;', data-lang=lang)= text

header(class=['navbar', 'navbar-expand', 'navbar-dark'],
    class=['flex-column', 'flex-md-row', 'align-items-center'],
    class=['bg-primary-color-dark', 'layout-navbar'])
    a.navbar-brand.mr-0.mr-md-2(href='#', aria-label='VSCode Coding Tracker Report')
        | VSCode Coding Tracker Report
        sub Beta
    ul.navbar-nav-scroll.navbar-nav.ml-auto
        li#reportRangeDropdown4Mobile.nav-item.dropdown.mr-auto.d-md-none
            a.nav-item.nav-link.dropdown-toggle.text-primary-color-text(
                href='javascript:;', data-toggle='dropdown',
                aria-haspopup='true', aria-expanded='false')
                i.ion.ion-calendar.mr-1.d-none.d-sm-inline
                span.d-none.d-sm-inline Range: &nbsp;
                b.current-range Recent 7 Days
            +reportRangeDropdownMenu
        li#selectI18N.nav-item.dropdown
            a.nav-item.nav-link.dropdown-toggle.text-primary-color-text(
                href='javascript:;', data-toggle='dropdown',
                aria-haspopup='true', aria-expanded='false')
                i.ion.ion-earth.d-none.d-sm-inline
                | &nbsp;&nbsp;Languages
            .dropdown-menu.dropdown-menu-right
               +language("en", "English")
               +language("zh-cn", "简体中文")
               +language("zh-tw", "繁體中文")
               +language("ru", "русский")
        button#toggleSidebarNav.btn.btn-link.d-md-none.p-0.ml-3(
            type="button",
            data-toggle="collapse",data-target="#sidebarNav",
            aria-controls="sidebarNav",aria-expanded="false",
            aria-label="Toggle sidebar")
            i.ion.ion-navicon

//-          +select('selectReportDateRange', 'glyphicon-calendar')
//-              option(data-i18n="option_7_days", value='7', selected='') 7 days
//-              option(data-i18n="option_30_days", value='30') 30 days
//-              option(data-i18n="option_365_days", value='365') 365 days
